:root{
  --main-color: #000F5A;
  --alternate-color: #D6D6D6;
  --alt-color: #8388A7;
}

body {
  padding: 0;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.footer {
  padding: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.jumbotron h1 {
  text-align: center;
}

.jumbotron ul {
  margin: 5px 0 0 0;
  padding: 0;
}

.jumbotron li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}

.jumbotron a{
  display: block;
  color: black;
  padding: 10px;
}

.social {
  text-align: center;
  margin-bottom: 15px;
}

.section-title{
  text-align: center;
  margin: 25px;
}

/* Pillar Section */
#pillars {
  padding: 25px;
  /*background-color: var(--main-color)*/; 
}

.pillar-item {
  border: none;
  text-align: center;
  padding: 0;
}

#event {
  margin-bottom: 25px;
}

.event-item {
  margin: 0px 50px;
}

/* About Page */
.eboard-img {
  padding-top: 1em;
}

.eboard-row {
  margin-bottom: 3em;
}

.eboard-title {
  margin-top: -10px;
}

#aboutUs .card {
  border: none;
}

#mission {
  margin: 2em 1em;
}

#mission p {
  font-size: 20px;
}

#vision {
  margin: 25px 50px;
}

#vision p {
  font-size: 20px;
}

.top i {
  text-align: center;
}

/*.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}*/
/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}*/

/* Custom page header */
/* Make the masthead heading the same height as the navigation */
/*.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}*/

/* Custom page footer */
/*
.container-narrow > hr {
  margin: 30px 0;
}
*/
/* Main marketing message and sign up button */
/*.jumbotron {
  text-align: center;
  border-bottom:  solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}*/

/* Supporting marketing content */
/*.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }
*/
  /* Remove the padding we set earlier */
/*  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead 
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect 
  .jumbotron {
    border-bottom: 0;
  }*/
}
