/*
    Title: SHPE NJ

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
*/

/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

/*
Color Theme
*/

// Define Color Scheme
$dark-blue: #00143B;
$light-blue: #2B57AD;

// Define background colors
$white: #fff;
$grey: #cccccc;

/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
        opacity: 1;
    }

    &::-moz-placeholder {
        @content;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

section {
    background-color: $dark-blue;
}

.navbar {
    a {
        color: $grey;
    }
}

footer {
    padding: 50px 0;
    margin-top: 3em;
    text-align: center;

    a,h1,h2,h3,h4,h5,h6 {
        color: $grey;
    }

    i {
        color: #fff;
        &:hover {
            color: $grey;
        }
    }
}

a {
    color: $light-blue;
    
    &:hover {
        text-decoration: none;
        color: $grey;
    }
}

h2{
    color: $dark-blue;
}

iframe {
    margin: 0 auto;
    border: 0;
    height: 600px;
    frameborder: 0;
    scrolling:no;
}

.center {
    text-align: center;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 3em;
    font-weight: 200;
    margin: 25px 0 45px 0;
    text-align: center;
    
    
    &:after {
        position: absolute;
        content: '';
        top: 100%;
        height: 1px;
        width: 50px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $dark-blue;
    }
}

.list-group {
    li {
        border: none;
    }
}

.event-gallery{
    margin: 15px 0;

    img {
        cursor: pointer;
        transition: 0.3s;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba($dark-blue, 0.8);
        max-width: 100%;
    }

    img:hover {
        opacity: 0.7;
    }

    .modal {
        display: none; // hidden by default
        position: fixed; // stay in place
        z-index: 11; // sit on top
        padding-top: 100px; // location of the box
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto; // enable scroll if needed
        background-color: rgb(0,0,0); // fallback color
        background-color: rgba(0,0,0,0.9); // black opacity
    }

    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        width: 80%;
        max-width: 700px;
    }

    /* Add Animation */
    .modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    // close button
    .close {
        color: $white;
        position: absolute;
        top: 15px;
        right: 35px;
        font-size: 40px;
        font-weight: bold;
    }

    .close:hover, .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    .mySlides {
        display: none;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: black;
        padding: 2px 16px;
        color: white;
    }
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url("../images/wallpaper.jpeg");
    background-color: $dark-blue;
    background-size: cover;
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
        color: #fff;
        font-weight: 900;
        font-size: 5em;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        line-height: 0.9em;
    }

    h2 {
        color: #fff;
        font-weight: 500;
        font-size: 2.25em;
        margin-bottom: 15px;
    }
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark-blue, 0.8);
    z-index: 1;
}

.undergrad {
    text-align: center;
}

#pillars {
    padding: 25px;

    h2 {
        font-size: 3em;
    }

    .card {
        border: none;
        padding: 0;
        margin-top: 25px;
    }
}

#event-prev {
    margin-bottom: 3em;

    .event-card {
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 25px;
        font-size: 3em;
    }
}

.event-item {
    margin: 2rem 1rem;

    .card-header {
        background-color: $dark-blue;
        color: $grey;
    }

    .card-body {
        background-color: $grey;
    }
}

.description {
    margin-bottom: 2rem;
}

#sub-lead {
    position: relative;
    height: 25vh;
    background: url("../images/wallpaper.jpeg");
    background-color: $dark-blue;
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    
    h2 {
        margin-bottom: 25px;
        font-size: 4em;
    }
}


#eboard {
    
    p {
        color: grey;   
    }

    h5 {
        color: $dark-blue;
    }

    margin-top: 50px;
    .card{
        border: none;
    }

    .card-title{
      white-space: nowrap;
    }

    .row {
      margin-bottom: 3em;
    }

    .eboard-title {
      margin-top: -10px;
      font-size: 15px;
    }

    .eboard-img{
      border-radius: 50%; 
      width: 200px;
      height: 200px;
      background-position: top;
      background-repeat: no-repeat;
      margin: 0 auto;
    }
}

.social {
    text-align: center;

    ul {
        margin: 0px auto;
        padding: 0;
    }

    li {
        display: inline-block;
        font-size: 1.25em;
        list-style: none;
    }

    a {
        display: block;
        padding: 10px;
    }
}

.statement { 
    p {
        text-align: center;
        font-size: 1.25em;
        line-height: 1.6;
    }
}

#membership {
    #benefits {
            p {
                font-size: 1.2em;
                color: $dark-blue;
            }
    }

    .mem-type {
        margin: 20px 25px;
    }

    .bcom-mem {
        margin: 0 25px;
    }
    .card-header {
        background-color: $dark-blue;
        color: $white;
    }

    .card-footer {
        background-color: $grey;
    }
}

#accordionExample {
    button {
        color: $white;
    }

    .card-body {
        background-color: $grey;
    }
}

#stem-comp {
    #agenda {
        border-collapse: initial;
    }
    #stem-event-info {
        margin-bottom: 1rem;
    
        i {
            font-size: 3rem;
            color: $dark-blue;
            margin-bottom: 1rem;
        }
    }
    
    #forms {
        margin: 0 auto;
    }
}