/*
    Title: SHPE NJ

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
*/
/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/
/*
Color Theme
*/
/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/
/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  body.active {
    overflow: hidden;
    z-index: -1; }

section {
  background-color: #00143B; }

.navbar a {
  color: #cccccc; }

footer {
  padding: 50px 0;
  margin-top: 3em;
  text-align: center; }
  footer a, footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: #cccccc; }
  footer i {
    color: #fff; }
    footer i:hover {
      color: #cccccc; }

a {
  color: #2B57AD; }
  a:hover {
    text-decoration: none;
    color: #cccccc; }

h2 {
  color: #00143B; }

.center {
  justify-content: center;
  text-align: center; }

.heading {
  position: relative;
  display: inline-block;
  font-size: 3em;
  font-weight: 200;
  margin: 25px 0 45px 0;
  text-align: center; }
  .heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #00143B; }

.list-group li {
  border: none; }

.event-gallery {
  max-width: 800px; }

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url("../images/wallpaper.jpeg");
  background-color: #00143B;
  background-size: cover; }

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  #lead-content h1 {
    color: #fff;
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em; }
  #lead-content h2 {
    color: #fff;
    font-weight: 500;
    font-size: 2.25em;
    margin-bottom: 15px; }

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 20, 59, 0.8);
  z-index: 1; }

.undergrad {
  text-align: center; }

#pillars {
  padding: 25px; }
  #pillars h2 {
    font-size: 3em; }
  #pillars .card {
    border: none;
    padding: 0;
    margin-top: 25px; }

#event_pg .card-event {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

#sub-lead {
  position: relative;
  height: 25vh;
  background: url("../images/wallpaper.jpeg");
  background-color: #00143B;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 1rem; }
  #sub-lead h2 {
    font-size: 4em; }

#eboard {
  margin-top: 50px; }
  #eboard p {
    color: grey; }
  #eboard h5 {
    color: #00143B; }
  #eboard .card {
    border: none; }
  #eboard .card-title {
    white-space: nowrap; }
  #eboard .row {
    margin-bottom: 3em; }
  #eboard .eboard-title {
    margin-top: -10px;
    font-size: 15px; }
  #eboard .eboard-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 auto; }
  #eboard .eboard-img-dan {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto; }

.social {
  text-align: center; }
  .social ul {
    margin: 0px auto;
    padding: 0; }
  .social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none; }
  .social a {
    display: block;
    padding: 10px; }

.statement p {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.6; }

#membership #benefits p {
  font-size: 1.2em;
  color: #00143B; }

#membership .mem-type {
  margin: 20px 25px; }

#membership .bcom-mem {
  margin: 0 25px; }

#membership .card-header {
  background-color: #00143B;
  color: #fff; }

#membership .card-footer {
  background-color: #cccccc; }

#accordionExample button {
  color: #fff; }

#accordionExample .card-body {
  background-color: #cccccc; }

/* This element defines the size the iframe will take.
   In this example we want to have a ratio of 25:14 */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* The height of the item will now be 56.25% of the width. */ }

/* Adjust the iframe so it's rendered in the outer-width and outer-height of it's parent */
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.gallery .row {
  align-items: center; }

@media (max-width: 900px) {
  .membershipFaq {
    white-space: normal;
    width: 100%; } }
