<!-- About Us -->
<div id="aboutUs">
  <div class="jumbotron">
    <div id="Top">
     <h1>Executive Board</h1>
    </div>
  </div>

  <!-- Eboard Section -->
  <div class="row eboard-row justify-content-center">
    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/president1.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Mike Chica</h4>
          <h5 class="eboard-title">President</h5>
          <p class="card-text">shpenj.president@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/vp.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Jesenia Castro</h4>
          <h5 class="eboard-title">Vice President</h5>
          <p class="card-text">shpenj.vp@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/secretary.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Ivy </h4>
          <h5 class="eboard-title">Secretary</h5>
          <p class="card-text">@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/treasurer.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Sirin Ceynek</h4>
          <h5 class="eboard-title">Treasurer</h5>
          <p class="card-text">shpenj.treasurer@gmail.com</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-center eboard-row">
    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/marketing.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Melanie</h4>
          <h5 class="eboard-title">Marketing Coordinator</h5>
          <p class="card-text">shpenj.marketing@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/precollege.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Edgard Jimenez-Cucchi</h4>
          <h5 class="eboard-title">Pre College Coordinator</h5>
          <p class="card-text">shpenj.precollege@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/webmaster.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Mario DeLaPaz</h4>
          <h5 class="eboard-title">Webmaster</h5>
          <p class="card-text">shpenj.webmaster@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-2 spacing">
      <div class="card">
        <div class="eboard-img" style="background-image: url(images/eboard/eventC.png);"></div>
        <div class="card-body text-center">
          <h4 class="card-title">Ivette Malave</h4>
          <h5 class="eboard-title">Event Coordinator</h5>
          <p class="card-text">shpenj.eventcoordinator@gmail.com</p>
        </div>
      </div>
    </div>

  </div>

  <div class="jumbotron">
    <div id="Top">
     <h1>Mission</h1>
    </div>
  </div>

  <div id="mission" class="row">
    <img class="col-md-4" ng-src="images/eboagroup-pic.jpg">
    <div class="col-md-8">
      <p> The Society of Hispanic Professional Engineers (SHPE) changes lives by empowering the Hispanic community to realize their fullest potential and impacts the world through STEM awareness, access, support, and development.</p>
    </div>
  </div>

  <div class="jumbotron">
    <div id="Top">
     <h1>Vision</h1>
    </div>
  </div>

  <div id="vision" class="row">
    <div class="col-md-8">
      <p> SHPE's vision is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians, and engineers.</p>
    </div>
    <img class="col-md-4" ng-src="images/eboavision.jpg">
  </div>
</div>