<div class="jumbotron">
  <div id="Top" class="container">
    <h1>About Us</h1>
  </div>
</div>

<!-- About Us -->
<div id="aboutUs">
  <div id="mission" class="row">
    <img class="col-md-4" ng-src="images/group-pic.jpg">
    <div class="col-md-8">
      <h3> Our Mission </h3>
      <p> The Society of Hispanic Professional Engineers (SHPE) changes lives by empowering the Hispanic community to realize their fullest potential and impacts the world through STEM awareness, access, support, and development.</p>
    </div>
  </div>
  <div id="vision" class="row">
    <div class="col-md-8">
      <h3> Vision </h3>
      <p> SHPE's vision is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians, and engineers.</p>
    </div>
    <img class="col-md-4" ng-src="images/vision.jpg">
  </div>
</div>