<div class="pg-title">
  <div>
    <h1>SHPE NJ Professional Chapter</h1>
    <div class="social">
      <ul>
          <li>
              <a href="https://facebook.com/shpenj" target="_blank"><img src="images/social/facebook.png" height="75px"></a>
          </li>
          <li>
              <a href="https://www.instagram.com/shpe_nj/" target="_blank"><img src="images/social/ig.png" height="60px"></a>
          </li>
          <li>
              <a href="https://www.twitter.com/shpenj" target="_blank"><img src="images/social/twitter.png" height="80px"></a>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class ="row" id="pillars">
  <h2 class="col-md-12 section-title">The 6 Pillars of SHPE</h2>  

  <div class="card col-md-4 pillar-item">
    <img class="img-fluid mx-auto" src="images/pillars/academic_dev.png" width="100px">
    <div class="card-body">
      <h5 class="card-title">Academic Development</h5>
      <p class="card-text">SHPE helps foster academic excellence in order for students to be successful.</p>
    </div>
  </div>

  <div class="card col-md-4 pillar-item">
    <img class="img-fluid mx-auto" src="images/pillars/professional_dev.png" width="100px">
    <div class="card-body">
      <h5 class="card-title">Professional Development</h5>
      <p class="card-text">SHPE prepares our member to further their professional career through networking opportunities.</p>
    </div>
  </div>

  <div class="card col-md-4 pillar-item">
    <img class="img-fluid mx-auto" src="images/pillars/leadership_dev.png" width="100px">
    <div class="card-body">
      <h5 class="card-title">Leadership Development</h5>
      <p class="card-text">SHPE enhances professionals' leadership abilities by exposing them to leadership roles and seminars.</p>
    </div>
  </div>
  
  <div class="card col-md-4 pillar-item">
    <img class="img-fluid mx-auto" src="images/pillars/chapter_dev.png" width="100px">
    <div class="card-body">
      <h5 class="card-title">Chapter Development</h5>
      <p class="card-text">Support the chapter and help it continue to grow by creating a welcoming community.</p>
    </div>
  </div>

  <div class="card col-md-4 pillar-item">
    <img class="img-fluid mx-auto" src="images/pillars/outreach_dev.png" width="100px">
    <div class="card-body">
      <h5 class="card-title">Outreach and Community Service</h5>
      <p class="card-text">Give back to the community through mentorship opportunities and by spreading STEM awareness and support to the Hispanic community.</p>
    </div>
  </div>

  <div class="card col-md-4 pillar-item">
    <img class="img-fluid mx-auto" src="images/pillars/career_dev.png" width="100px">
    <div class="card-body">
      <h5 class="card-title">Career Development</h5>
      <p class="card-text">Activities geared towards the career and management development with the specific intent of upward mobility and/or advancement within the members' career</p>
    </div>
  </div>

</div>
<!-- End Pillars Section -->

<!-- Start Event Section -->
<div id="event">
  <h2 class="section-title">Upcoming Events</h2>
  <!-- Event Item -->
  <div class="col-md-4 mx-auto">
    <div class="card text-center event-item">
      <h5 class="card-header">Beach Day</h5>
      <div class="card-body">
        <h5 class="card-title">Saturday, August 18, 2018</h5>
        <p class="card-text">Join us for a day of games, volleyball, and more! Progessionals and Undergrads are invited!</p>
        <a href="https://www.eventbrite.com/e/beach-day-with-shpe-nj-tickets-48437980303" class="btn btn-primary">Register Here!</a>
      </div>
    </div>
  </div>
  <!-- End Event Item -->
</div>
<!-- End Event Section -->

<!-- <div class="row">
  <a class="col-md-12" ng-click="gotoTop()"><i class="fas fa-angle-up fa-2x"></i></a>
</div>
 -->